* {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: linear-gradient(#232630, #050507);
  min-height: 100vh;
}

button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
